{% extends 'admin.base.html.twig' %}

{% block title %}{{ site_name }} - Admin - Oeuvres{% endblock %}

{% block content %}
    {% include 'inc/flash.message.html.twig' %}


    <div class="col-4 align-self-center">
        <a href="{{ url('admin.oeuvre.form') }}" class="btn btn-primary">Ajouter une nouvelle oeuvre</a>
    </div>

    {% for category in categories %}
        <div class="row">
            <div class="col">
                <h1>{{ category.name }}</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            {% for oeuvre in category.oeuvres %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <a href="{{ url('oeuvre.details', { id: oeuvre.id }) }}">
                            <img src="{{ oeuvre.image }}" class="card-img-top" alt="">
                            <div class="card-body">
                              <h5 class="card-title">{{ oeuvre.name }}</h5>
                                <p class="card-text">
                                    <a href="{{ url('admin.oeuvre.form.update', { id : oeuvre.id }) }}" class="btn btn-warning">Modifier</a>
                                    <a href="{{ url('admin.oeuvre.remove', { id : oeuvre.id }) }}" class="btn btn-danger">Supprimer</a>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
