{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block content %}

    <div class="col">
        <h1>Contactez nous pour toute demande</h1>
        {{ form_start(form, { attr : { novalidate: 'novalidate' } }) }}
        <p>
            {{ form_label(form.name, 'NOM Prénom: ') }}
            {{ form_widget(form.name) }}
        </p>
        <p>
            {{ form_label(form.email, 'E-mail : ') }}
            {{ form_widget(form.email) }}
        </p>
        <p>
            {{ form_label(form.message, 'Message : ') }}
            {{ form_widget(form.message) }}
        </p>
        </p>
        <p>
            <input value="Valider" class="btn btn-primary">
        </p>
        {{ form_end(form) }}
    </div>
{% endblock %}
