<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Administration</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{url('admin.accueil.index')}}">Panel Admin</a>
                    </li>
                    <li>
                        <a href="{{url('admin.oeuvre.index')}}">Panel Oeuvres</a>
                    </li>
                    <li>
                        <a href="{{url('admin.exposition.index')}}">Panel Expositions</a>
                    </li>
                    <li>
                        <a href="{{url('admin.oeuvre.form')}}">Nouvelle Oeuvre</a>
                    </li>
                    <li>
                        <a href="{{url('admin.exposition.form')}}">Nouvelle Exposition</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Oeuvres</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ url('oeuvre.index') }}">Toutes les oeuvres</a>
                    </li>
                    <li>
                        <a href="{{ url('oeuvre.index', {catego: 'Dessin'}) }}">Dessin</a>
                    </li>
                    <li>
                        <a href="{{ url('oeuvre.index', {catego: 'Peinture'}) }}">Peinture</a>
                    </li>
                    <li>
                        <a href="{{ url('oeuvre.index', {catego: 'Sculpture'}) }}">Sculpture</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Expositions</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ url('exposition.index') }}">Voir les expositions</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact et Mentions</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ url('accueil.index')}}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ url('contact.form')}}">Contactez nous</a>
                    </li>
                    <li>
                        <a href="{{ url('contact.mention')}}">Mentions légales</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
